@{
    ViewData["Title"] = "Preston's Hobbies";
}
<!--The Text at the Home page introducing the website-->
<div class="text-center">
    <h1 class="display-4 mb-4">Welcome to my Hobbies Website! My name is Preston!</h1>
</div>
<br/>
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <!-- Row containing the correct board game picture and its description -->
        <div class="col-md-4 mb-4">
            <img src="~/img/SettlersOfCatan.jpg" alt="SettlersWrong" class="img-fluid w-100 rounded-3">
        </div>

        <div class="col-md-8 text-left">
            <p>
                One of my favorite hobbies is playing board games! There are many different reasons why, with the biggest one being
                that I love its something that is easy to do with friends and family. I have so many good memories with friends playing
                everything from UNO to Settlers of Catan - both of which are easy to play and at the same time bond with friends and family.
                On top of this, I really enjoy the different variety of board games there are. There are thousands of different board games
                and you can play something as simple as Shoots and Ladders or something as complex as Gloomhaven that can take hours, but
                has incredibly engaging and amazing strategy in. Thus, the flexibility and the ease of bonding with others through board games
                is something that very few other hobbies can do! So, if you ever see me and want some good board game reccommendations, I have
                hundreds so don't be afraid to ask!
            </p>
        </div>
    </div>
</div>
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <!-- Row containing the correct board game picture and its description -->
        <div class="col-md-4 mb-4">
            <img src="~/img/ItsAWonderfulWorld.jpg" alt="SettlersWrong" class="img-fluid w-100 rounded-3">
        </div>

        <div class="col-md-8 text-left">
            <p>
                Here is one of my favorite board games ever! It is called "It's a Wonderful World". I love this game
                because it combines some of my favorite elements of board games. It is not only simultaneous turns,
                but it also foucsed in on engine building. Plus, the whole background of the story is also very interesting. 
                The story is that each player is running their own empire and are talented at certain things and the
                end goal is to get the most victory oints. In addtion, I also love this game because of the empires is so different
                so every time you play the game it feels new and refreshing because you're doing different things every time.
                It's a game that I highly reccommend and I cannot get enough!
            </p>
        </div>
    </div>
</div>